.overlay {
    width: 100%;
    height: 100vh;
    min-height: 0 !important;
    position: fixed;
    z-index: 97;
    left: 0;
    top: 0;
    padding: 20px;
    margin-top: 50px;
    padding-bottom: 30px;
    overflow-y: scroll;
    background-color: rgba(28, 28, 31, 0.96);
    transform: scale(0);
    opacity: 0;
    transition: opacity 0.12s ease;
}

.overlay.shown {
    left: 0;
    opacity: 1;
    transform: scale(1)
}

.overlay-close {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 9999;
}

.overlay-close.left {
    right: auto;
    left: 20px;
    top: 14px;
    font-size: 14px;
    z-index: 9999;
}

.overlay-close:hover {
    color: #e14f3d;
}

.show-short {
    display: none;
}

.overlay-link {
    cursor: pointer;
    color: #e14f3d;
}

.overlay-content {
    padding-top: 30px;
}

.padded-content {
    padding-bottom: 45px;
}

.hide-short {
    display: none !important;
}


/* Search Overlay */

.overlay input+button {
    margin-top: 10px;
}


/* Score Overlay */

.score-fullscreen-wrapper {
    position: relative;
    width: 100%;
    height: 80%;
    display: block;
    z-index: 988;
}

.score-fullscreen-wrapper img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-height: 92%;
}


/* Loading Overlay */

#loadingOverlay .overlay-content {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 75px;
}

#loadingOverlay .icon {
    margin-bottom: 30px;
}

#loadingOverlay .text {
    font-size: 21px;
    font-family: 'Rubik';
    font-weight: 700;
}

@media (min-width: 540px) {
    .overlay {
        padding-left: 45px;
        padding-right: 45px;
    }
    .overlay-close {
        right: 45px;
        font-size: 32px;
        top: 30px;
    }
    .overlay-close.left {
        left: 45px;
        top: 20px;
    }
    .post-title {
        margin-top: -15px;
    }
    .overlay-content {
        padding-top: 45px;
    }
    /* Search Overlay */
    #searchInput {
        width: 70%;
        margin-right: 1%;
        display: inline-block;
    }
    #searchBtn {
        display: inline-block;
        width: 29%;
    }
}

@media (min-width: 768px) {
    .overlay {
        padding-left: 210px;
        padding-right: 30px;
        margin-top: 60px;
    }
    .overlay.full {
        padding: 60px !important;
        z-index: 9999;
    }
    .overlay-content {
        padding-top: 60px;
    }
    .overlay-close {
        font-size: 42px;
        top: 35px;
    }
    .overlay-close.left {
        left: 210px;
        font-size: 14px;
        top: 30px;
    }
    .full .overlay-close {
        top: 20px !important;
        z-index: 9999;
    }
    .full .overlay-close.right {
        right: 45px !important;
    }
    .full .overlay-close.left {
        left: 20px !important;
    }
    .post-title {
        margin-top: 0;
    }
    .score-fullscreen-wrapper img {
        height: 100%;
        max-height: 100%;
    }
    /* Search Overlay */
    #searchOverlay .padded-content {
        max-width: 850px;
    }
    /* Loading Overlay */
    #loadingOverlay .overlay-content {
        padding-top: 90px;
    }
}

@media (min-width: 850px) {
    .overlay {
        padding-left: 245px;
        padding-right: 45px;
        margin-top: 60px;
    }
    .overlay-close.right {
        right: 60px;
        top: 40px;
    }
    .overlay-close.left {
        left: 245px;
    }
    /* Handle fullscreen video */
    .full .iframe-wrapper {
        padding-top: 47%;
    }
    #searchInput {
        height: 60px;
        padding-left: 16px;
    }
    #searchBtn {
        height: 58px;
        margin-top: 1px;
    }
}

@media (min-width: 992px) {
    /* Loading Overlay */
    #loadingOverlay .overlay-content {
        padding-top: 120px;
    }
}

@media (min-height: 650px) {
    .hide-short {
        display: inline-block !important;
    }
}

@media (max-width: 850px) {
    .overlay-link {
        display: none !important;
    }
}

@media (max-width: 768px) {
    #menu {
        padding-top: 9px;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        margin-top: -34px;
    }
}

@media (max-width: 767px) {
    .categories>li,
    .category>ul>li {
        border-top: 1px solid transparent;
    }
    .categories>li:last-child,
    .category>ul>li:last-child {
        border-bottom: 1px solid transparent;
    }
}

.forum-title {
    display: none !important
}

.menu .text {
    color: #777 !important
}

.menu .text:hover {
    color: #e14f3d !important
}

.overlay-link {
    padding-top: 16px;
}

.navbar-default {
    border-color: transparent !important;
}

.topic .moderator-tools a[role=menuitem] {
    color: #777 !important;
}

.modal-content {
    color: #333 !important;
}

@media (max-width: 768px) {
    .topic .pagination-block {
        bottom: 54px !important;
    }
    .navbar-header {
        display: none !important;
    }
    .hidden-768-up {
        margin-top: 14px !important;
    }
}

@media (max-width: 851px) and (min-width: 761px) {
    .navbar-right {
        margin-top: 2px !important;
    }
}

.list-item .link {
    padding: 10px 7px;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #333;
    position: relative;
    z-index: 1;
}

.list-item .link:hover {
    color: #e14f3d !important;
}

.list-item .link:after {
    content: url('https://tonebase.co/img/icons/arrow.svg');
    position: absolute;
    display: block;
    right: 7px;
    top: 5px;
    font-size: 14px;
    color: #fff;
    width: 10px;
    height: 10px;
    z-index: 2;
}

.list-item.no-icon .link:after {
    content: '';
}

@media (max-height: 479px) {
    .list-item .link {
        padding: 7px 7px;
    }
    .list-item .link:after {
        top: 3px;
    }
}

@media (min-height: 720px) {
    .list-item .link {
        padding: 9px 7px;
    }
    .list-item .link:after {
        top: 10px;
    }
}

@media (min-width: 850px) and (min-height: 720px) {
    .list-item .link {
        padding: 14px 7px;
    }
    .list-item .link:after {
        top: 15px;
    }
}

.list-item>a {
    color: #fff !important;
}

ul.list {
    list-style-type: none !important;
}

@media (min-width: 540px) {
    .overlay-close.left {
        top: 27px !important;
    }
}

.section-title h1 {
    font-weight: 700;
    font-size: 21px;
    line-height: 1.2em;
    color: #e14f3d;
}

@media (min-width: 540px) {
    .section-title h1 {
        font-size: 24px;
    }
}

ul.list {
    margin: 0;
    padding: 0 !important;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

textarea,
.preview {
    color: #3d3d3d !important;
}

.sortbutton {
    display: none !important;
}

[component^="topic/mark-unread"],
[component^="thread/sort"] {
    display: none !important
}

body {
    font-family: 'Rubik', sans-serif !important;
}


[component^="category/posts"] .post-content img {
    display: none!important;
}