/* General */
.fs-xs {
    font-size: 10px;
  } .fs-sm {
    font-size: 12px;
  } .fs-reg {
    font-size: 14px;
  } .fs-lg {
    font-size: 16px;
  } .fs-xl {
    font-size: 18px;
  }
  
  /* Specific */
  .fs-21 {
    font-size: 21px;
  } .fs-24 {
    font-size: 24px;
  } .fs-28 {
    font-size: 28px;
  } .fs-32 {
    font-size: 32px;
  } .fs-36 {
    font-size: 36px;
  } .fs-42 {
    font-size: 42px;
  }
  
  .bold {
    font-weight: 700;
  } .regular {
    font-weight: 400;
  }
  